* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black{
    background-color: rgba(10, 10, 73, 0.78);
}

.white{
    background-color: #8ecdcd;
}
.selected {
    background-color: orange;
}
.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #4ac14a;
}
.killMove {
    background-color: rgba(14, 167, 65, 0.81);
}

.windowContainer{
    display: grid;
}
.playerInfo{
    justify-self: center;
    padding-bottom: 20px;
}